   body{
              	background-color: #e0ffff;
              	
              }
       hr{      
       	border-style:dotted none none;
       	
       
       	border-color:grey;
       	border-width:5px;
       	width:30%;
       }
      h1{
        color:yellow;
      }
      h3{
         color:yellow;
      }